{% extends "base.html"%}
{% load static %}
{% block extra-css %}<link href="{% static 'css/reporte.css' %}" rel="stylesheet" />{% endblock %}
{% block title %}
  Bebederos en CU
{% endblock %}
{% block body %}
  <header class="bg-primary bg-gradient text-white"> 
    <div class="container px-4 text-center">
        <h3 class="fw-bolder">Busca cualquier bebedero en Ciudad Universitaria</h3>
        <br>
        <form role="search">
        <input class="form-control busqueda" name="q" type="search" placeholder="Buscar bebederos" aria-label="Search">
          <button class="btn button-18" type="submit">
            <span class="glyphicon glyphicon-search"></span>Buscar
          </button>
        </form>
    </div>
  </header>

  
  <a href="/reportes">  <button type="button" class="btn button-18 report-button">Reportar Bebedero</button> </a>
  <br>
  <div class="feedback">
    {{ feedback_resultados }}
  </div>
  
  <div class="mapa">
    {{ map|safe }}
  </div>
{% endblock %}

